html
  head
    title Lolcito plugin
    script(src="https://unpkg.com/htmx.org@1.9.4"
    integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
    crossorigin="anonymous")
    script(src="https://cdn.tailwindcss.com")

  body(class="bg-green-500" hx-sse="connect:/lol_events")
    section#video(hx-sse="swap:video")

    script(src="/public/app.js")
